#new_player_form.splash
  %h1 Enter Player Names
  %p Optional: include your twitter handle with the @ sign, e.g. @twitholegame.
  = form_tag("#", :id => "gameform") do
    .field
      = label_tag(:player_1)
      = text_field_tag(:player_1, "", :class => "playername")

    .field
      = label_tag(:player_2)
      = text_field_tag(:player_2, "", :class => "playername")

    .field
      = label_tag(:player_3)
      = text_field_tag(:player_3, "", :class => "playername")

    %ul.controls
      %li= link_to("Add a Player", "#", :rel => "add_field", :class => "button")
      %li= submit_tag("Start Playing!", :class => "button")
