!!! 5

%html
%head
  %title Tiwithole | The Fun New Twitter Party Game
  = csrf_meta_tag
  = stylesheet_link_tag("reset", "application")

%body
  = yield

  #welcome.splash
    .birdie
    %h1 Twithole Game
    %p Twithole is the fun new twitter based party game.
    %ol
      %li Invite 2-7 friends over,
      %li Grab your favorite drink,
      %li And laugh.

    %p= link_to("Play Now and Learn as You Go!", "#", :id => "play_game", :class => "button large go")
    %p= link_to("or check out the rules first", "#", :id => "rules_link")

  #footer
    &copy; 2010
    =link_to('SinCityRuby.com', 'http://sincityruby.com/',:target => "blank")
    = link_to(raw("Terms &amp; Conditions"), "#", :id => 'terms_link')
    Designed for RailsRumble.com 2010
    = link_to(raw("FAQ"), "#", :id => "faq_link")
    = link_to("Remember to vote for us.", "http://railsrumble.com/teams/sincity-rb", :target => "blank")

  :javascript
    var rumbleUrl = 'http://railsrumble.com';

  = javascript_include_tag("jquery.min", 'easing', 'game_helpers', 'game', :defaults)
  = javascript_include_tag("http://blog.railsrumble.com/javascripts/rumble-r10-sash.js")

  -#http://twitholegame.r10.railsrumble.com/ Google Analytics
  
  :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11575163-5']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
